# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual Environments
# =========================

venv/
.venv/
env/
ENV/

# my specific virtual env  folder
backend/aura/
backend/.env

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Logs
# =========================

*.log

# =========================
# OS / Editor junk
# =========================

.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Node / frontend (future proof)
# =========================

node_modules/
dist/
build/

# =========================
# Test / coverage
# =========================

.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================

*.swp
*.tmp
